.catalog__button-text {
  line-height: 33px;
  font-size: 30px;
  font-weight: 800;
  font-family: 'Montserrat';
  text-transform: uppercase;
  color: #fff;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .catalog__button-text {
    line-height: 27px;
    font-size: 22px;
  }
}
