.individual__cost-arrow {
  width: 10px;
  box-sizing: border-box;
  margin: 0 0 0 4px;
  padding: 0;
  animation: slide 1s linear infinite;
}

@media screen and (max-width: 768px) {
  .individual__cost-arrow {
    /* width: 6px; */
  }
}

@-webkit-keyframes slide {
  0% {
    transform: translateX(-40%);
  }
  40% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-40%);
  }
}

@keyframes slide {
  0% {
    transform: translateX(-40%);
  }
  40% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-40%);
  }
}
