.offer__buttons {
  display: flex;
  flex-wrap: wrap;
  column-gap: 11px;
  row-gap: 13px;
  box-sizing: border-box;
  margin: 32px 0 0 0;
  padding: 0;
  list-style: none;
}

@media screen and (max-width: 768px){
  .offer__buttons {
    column-gap: 5px;
  }
}