.customer__container {
  position: relative;
  width: 100%;
  height: 100%;
  background: url("../../../images/img-customer-house.png");
  background-repeat: no-repeat;
  background-position: right bottom -115px;
  background-size: 771px;
  box-sizing: border-box;
  margin: 0;
  padding: 0 84px 0 84px;
  z-index: 2;
}

@media screen and (max-width: 1024px) {
  .customer__container {
    padding-left: 27px;
    padding-right: 27px;
  }
}

@media screen and (max-width: 768px) {
  .customer__container {
    background-size: 477px;
    background-position: center bottom 55px;
  }
}