.header__data-text {
  line-height: 17px;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Inter';
  color: rgba(0, 0, 0, 0.8);
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1024px){
  .header__data-text {
    line-height: 13px;
    font-size: 10px;
  }
}