.footer__social-title {
  line-height: 19px;
  font-size: 16px;
  font-weight: 700;
  font-family: 'Inter';
  color: #fff;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1024px){
  .footer__social-title {
    line-height: 14px;
    font-size: 11px;
  }
}