.catalog__button-text_fade_five {
  transform: translateX(100%);
  opacity: 0;
  -webkit-animation-name: fade_five;
          animation-name: fade_five;
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
  -webkit-animation-duration: 1.6s;
          animation-duration: 1.6s;          
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fade_five {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  50% {
    opacity: .7;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade_five {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  50% {
    opacity: .7;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}