.catalog__button-text_fade_three {
  transform: translateX(100%);
  opacity: 0;
  -webkit-animation-name: fade_three;
          animation-name: fade_three;
  -webkit-animation-delay: .8s;
          animation-delay: .8s;
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;          
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fade_three {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  50% {
    opacity: .5;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade_three {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  50% {
    opacity: .5;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}