.offer__slider-control_type_left {
  background: url("../../../../images/icon-cards-slider-control-left.svg");
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 47px;
}

@media screen and (max-width: 1024px){
  .offer__slider-control_type_left {
    margin-left: 27px;
  }
}