.offer__slider-control_type_right {
  background: url("../../../../images/icon-cards-slider-control-right.svg");
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 47px;
}

@media screen and (max-width: 1024px){
  .offer__slider-control_type_right {
    margin-right: 27px;
  }
}