.footer__link-title {
  line-height: 22px;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .footer__link-title {
    line-height: 24px;
    font-size: 20px;
    font-weight: 600;
  }
}