.customer__individual-text {
  line-height: 23px;
  font-size: 20px;
  font-weight: 800;
  font-family: 'Inter';
  color: #fff;
  width: 100%;
  max-width: 367px;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .customer__individual-text {
    line-height: 18px;
    font-size: 16px;
  }
}