.order-contract__grid-subtitle {
  grid-area: grid-subtitle;
  line-height: 16px;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Montserrat';
  color: rgba(0, 0, 0, 0.6);
  width: 100%;
  max-width: 250px;
  margin: 16px 0 0 0;
  padding: 0;
}
