.catalog__button_type_house {
  grid-area: house;
  background: url("../../../../images/img-catalog-house.png");
}

@media screen and (max-width: 768px) {
  .catalog__button_type_house {
    background: url("../../../../images/img-catalog-house-mobile.png");
    background-position: center;
    background-size: cover;
  }
}