.review__slider-control {
  border: 0;
  width: 28px;
  height: 75px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  opacity: .2;
  transition: .2s;
  cursor: pointer;
}

.review__slider-control:hover {
  opacity: .6;
}

@media screen and (max-width: 768px){
  .review__slider-control {
    width: 20px;
    height: 54px;
  }
}