.matcap__slider {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  box-sizing: border-box;
  margin: 38px 0 0 0;
  padding: 0;
}

@media screen and (max-width: 768px){
  .matcap__slider {
    justify-content: center;
    margin-top: 62px;
  }
}