.offer__cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
  box-sizing: border-box;
  margin: 5px 0 0 0;
  padding: 27px;
  list-style: none;
  flex: 0 0 100%;
  max-width: 100%;
}
