.offer__cards {
  display: flex;
  gap: 20px;
  width: 100%;
  box-sizing: border-box;
  margin: 5px 0 0 0;
  padding: 27px;
  list-style: none;
  flex: 0 0 100%;
  max-width: 100%;
  /* user-select: none;
  will-change: transform; */
}

/* @media screen and (max-width: 1024px) {
  .offer__cards {
    justify-content: left;
  }
} */

@media screen and (max-width: 768px) {
  .offer__cards {
    justify-content: center;
  }
}