.offer__button {
  border: 0;
  border-radius: 25px;
  background: #eee;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
  line-height: 24px;
  font-size: 20px;
  font-weight: 600;
  font-family: 'Inter';
  color: #212864;
  box-sizing: border-box;
  margin: 0;
  padding: 12px 35px;
  background-image: linear-gradient(#FFC239, #FFC239);
  background-repeat: no-repeat;
  background-size: 0% 100%;
  transition: .3s;
  cursor: pointer;
}

.offer__button:hover {
  background-size: 100% 100%;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 768px){
  .offer__button {
    line-height: 19px;
    font-size: 16px;
  }
}