.header__button-call {
  border: 1px solid rgba(33, 40, 100, 1);
  border-radius: 25px;
  background: #fff;
  line-height: 15px;
  font-size: 12px;
  font-weight: 700;
  font-family: 'Inter';
  color: rgba(33, 40, 100, 1);
  text-transform: uppercase;
  box-sizing: border-box;
  margin: 0;
  padding: 14px 39px;
  background-image: linear-gradient(#8C93D1, #8C93D1);
  background-repeat: no-repeat;
  background-size: 0% 100%;
  transition: background-size .4s, color .3s ease-in-out;
  cursor: pointer;
}

.header__button-call:hover {
  background-size: 100% 100%;
  color: #fff;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 1024px){
  .header__button-call {
    line-height: 14px;
    font-size: 11px;
    padding: 14px 19px;
  }
}
