.advantage__vk-subtitle {
  line-height: 17px;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Montserrat';
  color: #000;
  opacity: .6;
  width: 100%;
  max-width: 488px;
  margin: 0;
  padding: 0;
}