.header__phone {
  line-height: 19px;
  font-size: 16px;
  font-weight: 700;
  color: rgba(33, 40, 100, 1);
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1024px){
  .header__phone {
    line-height: 17px;
    font-size: 14px;
  }
}