.matcap__credit-image {
  display: block;
  width: 100%;
  max-width: 220px;
  object-fit: contain;
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  transform: translateY(100%);
  opacity: 0;
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@media screen and (max-width: 1100px){
  .matcap__credit-image {
    max-width: 120px;
  }
}

@media screen and (max-width: 768px){
  .matcap__credit-image {
    display: none;
  }
}

@-webkit-keyframes fade {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}