.offer__slider-control {
  border: 0;
  width: 13px;
  height: 39px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  opacity: .4;
  transition: .2s;
  cursor: pointer;
}

.offer__slider-control:hover {
  opacity: 1;
}
