.request__title {
  line-height: 40px;
  font-size: 38px;
  font-weight: 700;
  font-family: 'Inter';
  color: #000;
  width: 100%;
  max-width: 636px;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .request__title {
    line-height: 36px;
    font-size: 30px;
  }
}