.advantage__vk-title {
  line-height: 36px;
  font-size: 30px;
  font-weight: 700;
  font-family: 'Inter';
  color: #000;
  width: 100%;
  max-width: 609px;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .advantage__vk-title {
    line-height: 30px;
    font-size: 26px;
  }
}