.matcap__block-title {
  width: 100%;
  line-height: 42px;
  font-size: 38px;
  font-weight: 400;
  font-family: 'Inter';
  color: #000;
  margin: 0;
  padding: 0;

  transform: translateY(100%);
  opacity: 0;
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: .7s;
          animation-duration: .7s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@media screen and (max-width: 768px){
  .matcap__block-title {
    min-height: 200px;
    line-height: 36px;
    font-size: 36px;
  }
}

@media screen and (max-width: 374px){
  .matcap__block-title {
    line-height: 34px;
    font-size: 34px;
  }
}

@-webkit-keyframes fade {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}