.catalog__title {
  line-height: 56px;
  font-size: 46px;
  font-weight: 700;
  font-family: 'Inter';
  color: #000;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .catalog__title {
    line-height: 32px;
    font-size: 38px;
  }
}