.offer__slider-panel {
  position: absolute;
  top: 409px;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;  
}

@media screen and (max-width: 1101px){
  .offer__slider-panel {
    top: 470px;
  }
}

@media screen and (max-width: 1024px){
  .offer__slider-panel {
    display: none;
  }
}