.offer__slider-panel {
  position: absolute;
  top: 409px;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;  
}

@media screen and (max-width: 1067px){
  .offer__slider-panel {
    top: 470px;
  }
}

@media screen and (max-width: 768px){
  .offer__slider-panel {
    top: 422px;
  }
}

@media screen and (max-width: 515px){
  .offer__slider-panel {
    top: 478px;
  }
}

@media screen and (max-width: 455px){
  .offer__slider-panel {
    top: 514px;
  }
}

@media screen and (max-width: 372px){
  .offer__slider-panel {
    top: 570px;
  }
}