.calculate__blocks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  z-index: 2;
}

@media screen and (max-width: 1024px) {
  .calculate__blocks {
    flex-direction: column;
    gap: 79px;
  }
}